@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');
html, body  {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(0, 187, 47);
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
section {
    width: 60%;
    position: relative;
    margin-left: 20%;
    /*border: 1px solid black; /* temporary for debugging purpose */ 
    font-family: 'Roboto', sans-serif;
}
nav {
    padding-top: 5px;
    padding-bottom: 5px;
}
h1 {
    margin: 1rem;
}

ul {
    list-style-type: none;
    margin: 0;
}
a {
    text-decoration: none;
    color: beige;
}
a:visited {
    color: beige;
}
li a {
    padding: 20px;
}
li a:hover {
    color: rebeccapurple;
}
.menu_container {
    display: flex;
}

#menu_item-1 {
    flex-grow: 3;
}
#menu_item-2 {
    flex-grow: 1;
}
.menu_item nav ul {
    display: flex;
    text-align: center;
}
.menu_item nav ul li {
    flex: 1;
    padding: 20px;
}
